{% extends 'admin/base_site.html' %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
  <div class="row">
    <div class="col-12 col-md-auto d-flex flex-grow-1 align-items-center">
      <h1 class="h4 m-0 pr-3 mr-3 border-right">{% trans 'Alterar senha' %}</h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin/">{% trans 'Início' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/admin/auth/">{% trans 'Autenticação e Autorização' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/admin/auth/user/">{% trans 'Usuários' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/admin/auth/user/{{ original.pk }}/change/" class="active">{{ original }}</a>
        </li>
        <li class="breadcrumb-item active">
          {% trans 'Alterar senha' %}
        </li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4>Informe uma nova senha para o usuário <b>{{ original }}</b></h4>
      </div>
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}

          <div class="row mt-3">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="{{ form.password1.id_for_label }}">{{ form.password1.label }} <span class="text-danger">*</span></label>
              <input type="password" name="password1" id="{{ form.password1.id_for_label }}" autofocus autocomplete="new-password" class="form-control" placeholder="Digite sua senha" value="{{ form.password1.value|default:'' }}" />

              {% if form.password1.help_text %}
                <small class="form-text text-muted">{{ form.password1.help_text|safe }}</small>
              {% endif %}

              {% if form.password1.errors %}
                <div class="text-danger">
                  {% for error in form.password1.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label" for="{{ form.password2.id_for_label }}">{{ form.password2.label }} <span class="text-danger">*</span></label>
              <input type="password" name="password2" id="{{ form.password2.id_for_label }}" autocomplete="new-password" class="form-control" placeholder="Confirme sua senha" value="{{ form.password2.value|default:'' }}" />

              {% if form.password2.help_text %}
                <small class="form-text text-muted">{{ form.password2.help_text|safe }}</small>
              {% endif %}

              {% if form.password2.errors %}
                <div class="text-danger">
                  {% for error in form.password2.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>

          <!-- Botões padrão do Django admin -->
          <div class="d-flex flex-column flex-md-row justify-content-between gap-2 mt-3">
            <input type="submit" value="{% trans 'Alterar senha' %}" class="btn btn-success mb-3" name="_save" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
