{% extends 'admin/change_form.html' %}
{% load static %}
{% load admin_urls admin_modify %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />

  <div class="container-fluid">
    <form method="post" action="">
      {% csrf_token %}

      <div class="row">
        <div class="col-12 col-lg-9 groupBlock">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ title }}</h4>
            </div>
            <div class="card-body">
              {{ adminform.form.non_field_errors }}

              <!-- Nome do grupo -->
              <div class="form-group">
                <label for="id_name">{{ adminform.form.name.label }} <span class="text-danger">*</span></label>
                {{ adminform.form.name.errors }}
                {{ adminform.form.name }}
              </div>

              <!-- Permissões -->
              {% with selected_permissions=adminform.form.permissions.value|default:'' %}
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label>Permissões disponíveis</label>
                      <input type="text" class="form-control mb-2" id="search_permissions_from" placeholder="Filtrar disponíveis" />
                      <ul id="permissions_from" class="connected-sortable list-group">
                        {% for perm in adminform.form.permissions.field.queryset %}
                          {% if not selected_permissions or perm.pk not in selected_permissions %}
                            <li class="list-group-item" data-id="{{ perm.pk }}">{{ perm.name }}</li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label>Permissões escolhidas</label>
                      <input type="text" class="form-control mb-2" id="search_permissions_to" placeholder="Filtrar escolhidas" />
                      <ul id="permissions_to" class="connected-sortable list-group">
                        {% for perm in adminform.form.permissions.field.queryset %}
                          {% if selected_permissions and perm.pk in selected_permissions %}
                            <li class="list-group-item" data-id="{{ perm.pk }}">{{ perm.name }}</li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              {% endwith %}
            </div>
          </div>
        </div>

        <!-- Botões de ação -->
        <div class="col-12 col-lg-3">
          <div class="sticky-top" id="jazzy-actions">
            <div class="form-group">
              <input type="submit" value="Salvar" class="btn btn-success form-control" name="_save" />
            </div>

            <div class="form-group">
              <input type="submit" class="btn btn-info form-control" value="Salvar e adicionar outro(a)" name="_addanother" />
            </div>

            <div class="form-group">
              <input type="submit" class="btn btn-info form-control" value="Salvar e continuar editando" name="_continue" />
            </div>

            {% if original %}
              <a href="{% url opts|admin_urlname:'delete' original.pk %}" class="btn btn-danger form-control mb-3">Excluir</a>
            {% endif %}

            {% if original %}
              <a class="btn btn-secondary btn-block" href="{% url opts|admin_urlname:'history' original.pk %}">Histórico</a>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

<!-- Scripts -->
{% block extrajs %}
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/group_permissions.js' %}"></script>
{% endblock %}
