{% extends 'admin/change_form.html' %}
{% load static %}
{% load admin_urls admin_modify %}

{% block content %}
  <div class="container-fluid mt-4">
    <div class="card">
      <div class="card-header">
        <h3>Modificar Grupo</h3>
      </div>
      <div class="card-body">
        <form method="post" action="">
          {% csrf_token %}
          {{ adminform.form.non_field_errors }}

          <!-- Nome do grupo -->
          <div class="form-group">
            <label for="id_name">{{ adminform.form.name.label }} <span class="text-danger">*</span></label>
            {{ adminform.form.name.errors }}
            {{ adminform.form.name }}
          </div>

          <!-- Permissões -->
          {% with selected_permissions=adminform.form.permissions.value|default:'' %}
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>Permissões disponíveis</label>
                  <input type="text" class="form-control mb-2" id="search_permissions_from" placeholder="Filtrar disponíveis" />
                  <ul id="permissions_from" class="connected-sortable list-group">
                    {% for perm in adminform.form.permissions.field.queryset %}
                      {% if not selected_permissions or perm.pk not in selected_permissions %}
                        <li class="list-group-item" data-id="{{ perm.pk }}">{{ perm.name }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>

                <div class="col-md-6">
                  <label>Permissões escolhidas</label>
                  <input type="text" class="form-control mb-2" id="search_permissions_to" placeholder="Filtrar escolhidas" />
                  <ul id="permissions_to" class="connected-sortable list-group">
                    {% for perm in adminform.form.permissions.field.queryset %}
                      {% if selected_permissions and perm.pk in selected_permissions %}
                        <li class="list-group-item" data-id="{{ perm.pk }}">{{ perm.name }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endwith %}

          <!-- Botões padrão do Django admin -->
          <div class="d-flex flex-column flex-md-row justify-content-between gap-2 mt-3">
            <div class="form-group">
              <input type="submit" value="Salvar" class="btn btn-success mb-3" name="_save" />
            </div>

            <div class="form-group">
              <input type="submit" class="btn btn-info mb-3" value="Salvar e adicionar outro(a)" name="_addanother" />
            </div>

            <div class="form-group">
              <input type="submit" class="btn btn-info mb-3" value="Salvar e continuar editando" name="_continue" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

  <script>
    var $j = jQuery.noConflict()
    
    $j(function () {
      // Sortable
      $j('.connected-sortable')
        .sortable({
          connectWith: '.connected-sortable',
          placeholder: 'ui-state-highlight'
        })
        .disableSelection()
    
      // Filtro de permissões
      function filtrarPermissoes(inputId, listId) {
        $j(inputId).on('keyup', function () {
          var filtro = $j(this).val().toLowerCase()
          $j(listId + ' li').filter(function () {
            $j(this).toggle($j(this).text().toLowerCase().indexOf(filtro) > -1)
          })
        })
      }
    
      filtrarPermissoes('#search_permissions_from', '#permissions_from')
      filtrarPermissoes('#search_permissions_to', '#permissions_to')
    
      // Ao submeter, cria os inputs hidden com as permissões escolhidas
      $j('form').submit(function () {
        $j('#permissions_to li').each(function () {
          let id = $j(this).data('id')
          $j('<input>')
            .attr({
              type: 'hidden',
              name: 'permissions',
              value: id
            })
            .appendTo('form')
        })
      })
    })
  </script>
{% endblock %}
