{% load i18n admin_list %}
<div class="filter-wrapper">
  <label for="{{ spec.parameter_name }}">{{ spec.title }}</label>
  <select data-name="{{ spec.parameter_name }}" class="form-control search-filter" id="{{ spec.parameter_name }}">
    <option value="">{% trans "Todos" %}</option>
    {% for choice in choices %}
      <option data-name="{{ spec.parameter_name }}" value="{{ choice.value|default_if_none:'' }}" {% if choice.selected %}selected{% endif %}>
        {{ choice.display }}
      </option>
    {% endfor %}
  </select>
</div>
