/* Pesonalizando filtro */
#changelist-search .form-group {
  margin-top: 1.5rem !important;
}

#changelist-search .filter-wrapper {
  margin-right: .5rem !important;
}

#changelist-search.form-inline label {
  justify-content: initial;
}

.ck.ck-powered-by {
  display: none !important;
}

.btn {
  border-radius: 5px;
}

#changelist-filter .filter-title {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

#changelist-filter .filter select {
  display: block;
  margin-top: 4px;
}

.btn-secondary,
.btn-secondary:hover {
  background-color: #5C636A;
}

.userBlock .tab-pane {
  overflow-x: hidden;
}