{% extends 'base.html' %}

{% load static %}
{% block title %}
  Senha Redefinida {{ project_name }}
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />

  <div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
      <div class="col-md-6 mx-auto">
        <div class="d-flex justify-content-center mb-3">
          <img width="200" src="{% static 'img/logoPreta.png' %}" alt="Logo" />
        </div>

        <div class="card shadow-sm text-center">
          <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Senha redefinida com sucesso</h4>
          </div>
          <div class="card-body">
            <p class="lead">Sua senha foi alterada com sucesso.</p>
            <p class="small text-muted">Agora você pode fazer login com sua nova senha.</p>

            <a href="{% url 'admin:index' %}" class="btn btn-success">Ir para o Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
