{% extends 'admin/base_site.html' %}
{% load i18n %}
{% load form_filters %}

{% block breadcrumbs %}
  <div class="row">
    <div class="col-12 col-md-auto d-flex flex-grow-1 align-items-center">
      <h1 class="h4 m-0 pr-3 mr-3 border-right">{% trans 'Alterar senha' %}</h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin/">{% trans 'Início' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/admin/auth/">{% trans 'Autenticação e Autorização' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/admin/auth/user/">{% trans 'Usuários' %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/admin/auth/user/{{ original.pk }}/change/" class="active">{{ original }}</a>
        </li>
        <li class="breadcrumb-item active">
          {% trans 'Alterar senha' %}
        </li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid mt-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Alterar senha</h4>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-4">Por segurança, digite sua senha antiga e depois digite a nova senha duas vezes para verificarmos se está correta.</h6>

        <form action="" method="post">
          {% csrf_token %}

          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="{{ form.old_password.id_for_label }}" class="form-label">{{ form.old_password.label }}</label>
              {{ form.old_password|add_class:'form-control'|add_placeholder:'Digite sua senha antiga' }}
              {% if form.old_password.errors %}
                <div class="text-danger">{{ form.old_password.errors }}</div>
              {% endif %}
            </div>

            <div class="col-md-4 mb-3">
              <label for="{{ form.new_password1.id_for_label }}" class="form-label">{{ form.new_password1.label }}</label>
              {{ form.new_password1|add_class:'form-control'|add_placeholder:'Digite a nova senha' }}
              {% if form.new_password1.errors %}
                <div class="text-danger">{{ form.new_password1.errors }}</div>
              {% endif %}
            </div>

            <div class="col-md-4 mb-3">
              <label for="{{ form.new_password2.id_for_label }}" class="form-label">{{ form.new_password2.label }}</label>
              {{ form.new_password2|add_class:'form-control'|add_placeholder:'Confirme a nova senha' }}
              {% if form.new_password2.errors %}
                <div class="text-danger">{{ form.new_password2.errors }}</div>
              {% endif %}
            </div>
          </div>

          <input type="submit" value="Alterar senha" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
